body {
  color: #333;
  text-align: left;
  font-family: Courier;
  font-weight: 16px;
}

.container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #000;
  margin: 0 auto;
}

.post h1 {
  font-weight: 20px;
}
