body {
  color: #333;
  text-align: left;
  font-family: Courier;
  font-weight: 16px;
}

.cabecera {
  background: #33a;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0px 5px 30px 0px black;
}

.cabecera p span {
  padding-left: 10px;
  font-weight: normal;
  font-size: 15px;
}

.container {
  width: 70%;
  padding: 0em;
  text-align: left;
  border: 1px solid #000;
  margin: 0 auto;
}

.post h1, p {
  font-weight: 20px;
  padding: 0.5em;
}

.image {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: gray;
  font-weight: 20px;
  font-weight: bold;
  text-align: center;
}
